# Netflix Data Analysis Using Python

The Netflx data set has the information about the Tv Shows & Movies available on Netflix till 2021.

The Data set available from Flexible which is a Third Party Netflix which engine , and available on Kaggle dataset for free.

# Import Library

# Uploading Csv fle

# Data Preprocessing

# .head()

head is used show to the By default = 5 rows in the dataset

# .tail()

tail is used to show rows by Descending order

# .shape

It show the total no of rows & Column in the dataset

# .Columns

It show the no of each Column

# .info

This Attribute show the information about the data set

In [8]:
df.dtypes

Show_Id         object
Category        object
Title           object
Director        object
Cast            object
Country         object
Release_Date    object
Rating          object
Duration        object
Type            object
Description     object
dtype: object

# .unique()

In a column, It show the unique value of specific column.
- Q. Find out what are the different countries predent in the dataset
- Q. Pring any 5 countries from this dataset using array slicing

# .nuique()

* Q. show the total no of unque value from whole data frame

# .describe()

It show the Count, mean , median etc
- Q. Do you need to use describe for this data set analysis?

# .value_counts

It Shows all the unique values with their count
- Q. show top 10 countries and the values
- Q. show top 5 Types of movies are

# .isnull()

It shows the how many null/ missing values

# Impute the missing values with `unknown`
- Cast
- Country

# For a movie itle "Zozo" ; What is the Show Id and Who is the the Director of this Show ?
- loc or query

#    In which year Heighest Number of Tv Shows and Movies were released ?

- First Convert the data type of Column Release_Date and pick year only ? Using to_datetime and dt.year
- use value_counts and bar graph to get the highest number

# How many Movies & Tv shows are inthe dataset ? Show With bar grapp

# Show all the Movies that were Released in 2010 ?

# Show Top 10 Directors , Who gave the Heighest Number of Tv Shows & Movies to Netflix ?

# What are the different rating defined By the Netflix ?

# What is the maximum duration of Netflix On Tv Show ?

The Duration Column has 12 tpe values one is Int and oother is Object, Seprate Both the Values Using "str.split" Dunction

In [102]:
#df[['Minutes' , 'Unit']] = df["Duration"].str.split( " " , expand = True)

# How we can sort the dataset By year

# Show all the Records, were "Category" is "Movie" and "type" is "Horror Movies" and "Country" is "United Kingdom". Save the data into a new dataframev(df_new)

## Save the dataframe (df_save) and load it back without the index column

## Write a overall summary on what did you understand from this data analysis.

In [ ]:
# Use markdown cell to type answer